Package: com.haotestlabs.fastauthentication
Name: FastAuthentication
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak to speed up the FaceID popup
Maintainer: ArandomDev <haow6449@gmail.com>
Author: ArandomDev <haow6449@gmail.com>
Section: Tweaks
